* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.combination {
  width: clamp(80px, 13vw, 270px);
  height: 60px;
  padding: 5px 5px;
  position: absolute;
  border: 2px solid #084b4bf6;
  background-color: #236b6b7b;
  border-radius: 15px;
  font-size:  30px;
  font-weight: bold;
  text-align: center;
  left: 20px;
  top: 30px;
  color: white;
  overflow: hidden;
}
.keyComb {
  width: 270px;
  height: 545px;
  display: none;
  position: absolute;
  left: 20px;
  top: 130px;
  border: 2px solid #084b4bf6;
  background-color: #236b6b81;
  border-radius: 15px;
}
.keys{
width: 100%;
height: 60px;
font-size: 20px;
color:white  ;
display: flex;
}
.keyName{
  width: 140px;
  padding: 10px;
}
.double{
width: 122px !important;
}
.keyImg{
  width: 60px ;
  height: 60px;
  padding: 2px;
  border-radius: 20px;
  overflow: hidden;
}
.scaled{
  transform: scale(1.2);
}
.page1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./img/back.gif);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  cursor: pointer;
  overflow: hidden;
}
.speed {
  width: 60%;
  height: 120px;
  margin: 30px auto;
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
  font-weight: bold;
  color: white;
}
button {
  width: 150px;
  height: 60px;
  border-radius: 15px;
  background-color: #236b6b71;
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.h {
  font-size: clamp(15px, 3vw, 40px);
  font-weight: bolder;
  color: red;
  filter: drop-shadow(0 0 1.5rem red);
  margin-top: -25px;
  display: none;
}
.person {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(25px, 10vw, 500px);
}
.myMonkey {
  width: 350px;
  height: 350px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}
.start {
  width: 180px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.day {
  background-image: url(./img/day.jpg);
}
.night {
  background-image: url(./img/night.jpg);
}

.page2 {
  width: 100%;
  height: 100%;
  display: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header {
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: space-around;
  filter: drop-shadow(0 0 0.75rem black);
}
.coin {
  width: 17%;
  color: white;
  font-weight: bold;
  font-size: clamp(18px, 3vw, 40px);
  text-align: center;
}
.time {
  width: 17%;
  color: white;
  font-weight: bold;
  font-size: clamp(18px, 3vw, 40px);
  text-align: center;
}
.menu {
  width: 17%;
  background-color: #244a7ea9;
  box-shadow: 2px 0px 13px 3px #373b39;
  font-size: clamp(18px, 3vw, 40px);
  color: black;
}
.wins {
  width: 17%;
  font-size: clamp(18px, 3vw, 40px);
  font-weight: bold;
  padding: 2px 12px;
  color: white;
}
.loses {
  width: 17%;
  font-size: clamp(18px, 3vw, 40px);
  font-weight: bold;
  padding: 2px 5px;
  color: white;
}
.button {
  position: relative;
  width: 180px;
  height: 60px;
  border-radius: 15px;
  font-size: 30px;
  top: 70%;
  left: 45%;
  font-weight: bold;
  color: white;
  display: none;
}
.banana {
  width: clamp(25px, 11vw, 50px);
  height: clamp(25px, 11vw, 50px);
  position: absolute;
  filter: drop-shadow(0 0 0.75rem yellow);
  z-index: 2;
}
.monkey {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 65%;
  top: 400px;
  z-index: 1;
}
.clearBananas {
  display: none;
}
.loseGame {
  width: 40%;
  position: absolute;
  left: 30%;
  top: 200px;
}
.winGame {
  width: 40%;
  position: absolute;
  left: 30%;
  top: 200px;
}
.monkeyLeft {
  animation: SpL 2s linear infinite;
}

.monkeyRight {
  animation: SpR 2s linear;
}
#mute {
  width: 75px;
  background-color: #236b6bad;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.volume {
  border: 2px solid #373b39;
  background-color: #236b6bad;
  border-radius: 15px;
  padding-left: 10px;
  margin-block: 15px;
  display: flex;
  position: absolute;
  right: -72px;
  bottom: 150px;
  transform: rotate(90deg);
}

input[type="range"] {
  width: 55%;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}


input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #00cc99;
  border-radius: 8px;
  height: 30px;
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  margin-top: -10px; 
  background-color: #55626a;
  border-radius: 7px;
  height: 50px;
  width: 32.5px;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #55626a;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #00cc99;
  border-radius: 8px;
  height: 30px;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #55626a;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 7px;
  height: 50px;
  width: 32.5px;
}

input[type="range"]:focus::-moz-range-thumb {
  outline: 3px solid #55626a;
  outline-offset: 0.125rem;
}

.volumeCount {
  width: 100px;
  font-size: 40px;
  text-align: center;
  font-weight: bolder;
  color: #be1e2d;
  padding: 8px;
  transform: rotate(-90deg);
}

@keyframes SpR {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes SpL {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(-360deg);
  }
}
